# https://github.com/nicklockwood/SwiftFormat/blob/main/Rules.md

# file options

--swiftversion 5.9

# rules

--enable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable blockComments
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable docComments
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable enumNamespaces
--enable extensionAccessControl
--enable genericExtensions
--enable hoistAwait
--enable hoistPatternLet
--enable hoistTry
--enable indent
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder
--enable noExplicitOwnership
--enable opaqueGenericParameters
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantClosure
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantStaticSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortDeclarations
--enable sortImports
--enable sortTypealiases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongOutlets
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable void
--enable wrapArguments
--enable wrapAttributes
--enable wrapConditionalBodies
--enable wrapLoopBodies
--enable wrapMultilineConditionalAssignment
--enable wrapSwitchCases