# Tool
github "FLEXTool/FLEX" "56935533beffd6eb28768a4ea729d25c348a97d2"

# Test
github "Quick/Quick" "main"
github "Quick/Nimble" "main"
github "RxSwiftCommunity/RxNimble" "master"

# UI
github "layoutBox/FlexLayout" "master"
github "layoutBox/PinLayout" "master"
github "SnapKit/SnapKit" "main"

# Framework
github "minsone/RIBs" "main"
github "ReactiveX/RxSwift" "6.6.0"
