<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609505978758-b6i0iqbv2d17g3kcdhdaccmm582pi9lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609505978758-b6i0iqbv2d17g3kcdhdaccmm582pi9lf</string>
	<key>API_KEY</key>
	<string>AIzaSyCAGZ0WugFTtTgHXNAw3FEYs0vEDxg-ryM</string>
	<key>GCM_SENDER_ID</key>
	<string>609505978758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.minsone.app</string>
	<key>PROJECT_ID</key>
	<string>iosapplicationtemplate</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapplicationtemplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609505978758:ios:893646c5e9c41b33572407</string>
</dict>
</plist>