//
// This file defines additional configuration options that are appropriate only
// for an application. Typically, you want to use a platform-specific variant
// instead.
//

// Firebase requires this
OTHER_LDFLAGS = -ObjC

// Auto set to our development team to ease building the app
//DEVELOPMENT_TEAM = AW656G5PFM

// Whether to strip out code that isn't called from anywhere
DEAD_CODE_STRIPPING = NO

// Sets the @rpath for the application such that it can include frameworks in
// the application bundle (inside the "Frameworks" folder)
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks @loader_path/../Frameworks @executable_path/Frameworks
